{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Log in</h1>
            </div>
        </div>

        <div class="columns">
            <div class="column is-12">
                <form method="post" action=".">
                    {% csrf_token %}

                    <p style="margin: 5px">Username: {{ form.username }}</p>
                    <p style="margin: 5px 5px 20px 5px">Password: <span style="margin-left: 5px;">{{ form.password }}</span></p>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}