{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Sign up</h1>
            </div>
        </div>

        <div class="columns">
            <div class="column is-12">
                <form method="post" action=".">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="fieldWrapper">
                            <table style="width: 340px">
                            {{ field.errors }}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td style="text-align: right; padding: 2px;">{{ field }}</td>
                            </tr>
                            </table>
                        </div>
                    {% endfor %}

                    <div class="field" style="margin-top: 20px">
                        <div class="control">
                            <button class="button is-success">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}